.transparentbg {
	background: rgba (0, 0, 0, 0);
}

.countdown_label {
	color: rgba (150, 200, 200, 1);
	text-shadow: 10px 10px #000000
	font-weight: bold;
	font-size: 80px;
	padding: 0 0 0 0;
}

.button_yes {
	color: rgba (0, 0, 110, 1);
	background: rgba (168, 233, 255, 0.9);
	font-weight: bold;
	font-size: 80px;
	padding: 20px 20px 20px 20px;
}

.statusbox {
	background: rgba (0, 0, 0, 0.8);
}

.status_label {
	color: white;
	font-weight: bold;
	font-size: 14px;
}

