button {
	background: rgba (255, 255, 82, 0.8);
	font-weight: bold;
	font-size: 24px;
	padding: 20px 20px 20px 20px;
}

button.print {
	background: rgba (128, 255, 82, 0.8);
}

button.upload {
	background: rgba (82, 166, 255, 0.8);
}

button.cancel {
	background: rgba (255, 82, 82, 0.8);
}

.transparentbg {
	background: rgba (0, 0, 0, 0);
}

.countdown_label {
	color: rgba (85, 255, 255, 1);
	text-shadow: 8px 8px 3px #0c0d24;
	font-weight: bold;
	font-size: 80px;
	padding: 0 0 0 0;
}

.statusbox {
	background: rgba (0, 0, 0, 0.8);
}

.status_label {
	color: white;
	font-weight: bold;
	font-size: 10px;
}

.copies value {
	font-size: 24px;
	color: rgba (188, 255, 188, 0.8);
	text-shadow: 2px 2px 1px #0c0d24;
	font-weight: bold;
}

.copies marks.bottom mark indicator {
	color: rgb (0, 50, 0);
	border: 5px solid;
}

.copies fill:backdrop, .copies fill {
        background-color: rgba (70, 70, 70, 0.5);
	background-image: none;
}

.copies highlight {
	background-image: none;
	background-color: rgba (128, 255, 82, 0.8);
}

.copies slider {
	color: rgba (128, 255, 82, 0.8);
	min-width: 40px;
	min-height: 40px;
	background-image: none;
	background-color: rgba (50, 150, 20, 1);
	border: 20px solid;
	border-color: rgba (50, 150, 20, 1);
	border-radius: 20px;
}
